@font-face {
    font-family: "Topaz-8";
    src: url("http://game.highrewrd.com/assets/fonts/Topaz-8/Topaz-8.eot?") format("eot"),
         url("http://game.highrewrd.com/assets/fonts/Topaz-8/Topaz-8.woff") format("woff"),
         url("http://game.highrewrd.com/assets/fonts/Topaz-8/Topaz-8.ttf") format("truetype"),
         url("http://game.highrewrd.com/assets/fonts/Topaz-8/Topaz-8.svg#Topaz-8") format("svg");
    font-weight: normal;
    font-style: normal;
}

#game canvas {
    margin: 0 auto;
}

#linkback {
    text-align: center;
    margin: 10px 0;
}

a:link,a:active,a:hover,a:visited {
    text-decoration: none;
    color: #020e65;
}
