@font-face {
    font-family: "Topaz-8";
    src: url("http://d3lvkoah8gmb4e.cloudfront.net/assets/fonts/Topaz-8/Topaz-8.eot?") format("eot"),
         url("http://d3lvkoah8gmb4e.cloudfront.net/assets/fonts/Topaz-8/Topaz-8.woff") format("woff"),
         url("http://d3lvkoah8gmb4e.cloudfront.net/assets/fonts/Topaz-8/Topaz-8.ttf") format("truetype"),
         url("http://d3lvkoah8gmb4e.cloudfront.net/assets/fonts/Topaz-8/Topaz-8.svg#Topaz-8") format("svg");
    font-weight: normal;
    font-style: normal;
}

#game canvas {
    margin: 0 auto;
}
