@font-face {
    font-family: "Topaz-8";
    src: url("../assets/fonts/Topaz-8/Topaz-8.eot?") format("eot"),
         url("../assets/fonts/Topaz-8/Topaz-8.woff") format("woff"),
         url("../assets/fonts/Topaz-8/Topaz-8.ttf") format("truetype"),
         url("../assets/fonts/Topaz-8/Topaz-8.svg#Topaz-8") format("svg");
    font-weight: normal;
    font-style: normal;
}

a:link, a:visited {
    color: #0000ee;
}

body {
    text-align: center;
    margin: 0;
}

#toc {
    width: 240px;
    position: absolute;
    top: 0;
    padding-left: 30px;
}

#toc-title {
    text-align: left;
}

#example-list {
    list-style: none;
    text-align: left;
    padding: 0;
}

#example-list li {
    margin: 5px 0;
}

#content {
    margin-left: 270px;
    min-width: 700px;
}

#example {
    display: inline-block;
}

#setup {
    margin-bottom: 20px;
    width: 640px;
}

#setup label {
    vertical-align: bottom;
}

#setup pre {
    white-space: pre-wrap;
}

#game {
    height: 500px;
    overflow: scroll;
}

#game canvas {
    margin: 0 auto;
}
